*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}


body{
    background: rgb(250, 250, 250);
    height: 100%;
    font-family: sans-serif;
    
}
.nav{
    background: rgba(11, 131, 81, 0.603);
    box-shadow: 0 0 15px ;
}
.nav-ul{
    display: flex;
    justify-content: flex-end;
}
.nav-ul li {
    padding: 20px;
    list-style-type: none;
    font-size: 1.2em;
    
}
.nav-ul li a{
    text-decoration: none;
    color: white;
}
.nav-ul li a:hover{
    background: rgba(12, 94, 60, 0.603);
    padding: 10px;
    border-radius: 5px;
}
@media screen and (max-width: 436px){
    .nav-ul{
        flex-direction: column;
    }
    #action-text{
        animation-name: none;
    }
}
.call-to-action{
    width: 100%;
    background: rgba(12, 94, 60, 0.603);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-header{
    color: white;
    font-size: 2.5em;
    margin: 20px;
    font-weight: 900;
}
.action-text{
    color: white;
    margin: 20px;
    font-size: 2em;
}
.action-btn{
    margin: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: gray;
    transition: all 300ms ease-in-out;
    border-radius: 8px;
}
.action-btn:hover{
    background: rgba(12, 94, 60, 0.603);
    border: none;
    color: white;
    cursor: pointer;
}
#action-text{
    animation-name: action;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.quotes{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.silver{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 12px rgba(12, 94, 60, 0.603);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.silver h1 {
    margin-bottom: 50px;
    margin-top: 20px;
    color: gray;
    font-size: 1.4em;
}
.silver h2{
    color: rgba(12, 94, 60, 0.603);
    margin: 50px auto;
}
.silver p{
    color: gray;
   
}
.silver button{
    width: 30%;
    align-self: center;
    padding: 5px 10px;
    color: white;
    background: rgba(12, 94, 60, 0.603);
    font-size: 1.3em;
    border: none;
}
.silver button:hover{
    background: white;
    color: rgba(11, 131, 81, 0.603);
    cursor: pointer;
}

.platinum{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 100px rgba(12, 94, 60, 0.603);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.platinum  h1{
    margin-bottom: 50px;
    margin-top: 20px;
    color: gray;
    font-size: 1.4em;
}
.platinum p{
    color: gray;
}
.platinum h2{
    color: rgba(12, 94, 60, 0.603);
    margin: 50px auto;
}
.platinum button{
    width: 30%;
    align-self: center;
    padding: 5px 10px;
    color: white;
    background: rgba(12, 94, 60, 0.603);
    font-size: 1.3em;
    border: none;
}
.platinum button:hover{
    background: white;
    color: rgba(11, 131, 81, 0.603);
    cursor: pointer;
}
.gold{
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 12px rgba(12, 94, 60, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gold h1{
    margin-bottom: 50px;
    margin-top: 20px;
    color: gray;
    font-size: 1.4em;
}
.gold p{
    color: gray;
}
.gold h2{
    color: rgba(12, 94, 60, 0.603);
    margin: 50px auto ;
}
.gold button{
    width: 30%;
    align-self: center;
    padding: 5px 10px;
    color: white;
    background: rgba(12, 94, 60, 0.603);
    font-size: 1.3em;
    border: none;
}
.gold button:hover{
    background: white;
    color: rgba(11, 131, 81, 0.603);
    cursor: pointer;
    
}

@keyframes action{
    0%{color: white; transform: scale(1.5);}
    25%{color: green; transform: scale(0.5);}
    50%{color: yellow; transform: scale(1.5);}
    75%{color: red; transform: scale(0.5);}
    100%{color: black; transform: scale(1.5);}
}